@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");

h1 {
    font-size: 3.5em;
    margin: 0 0 1em 0;
}

h3, p {
    color: black;
    line-height: 1.5em;
	margin: 0 0 1em 0;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
}

ul {
    text-align: left;
    font-size: 1.5em;
}

.hero-container {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    background-color: #6D8299;
    color: azure;
    text-align: center;
}

.my-container {
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    text-align: center;
}

    .my-container p, h3 {
        max-width: 60%;
    }



.light-j {
    background-color: #F9F3DF;
}

.dark-j {
    background-color: #FFEBC9;
}

.light-s {
    background-color: #DFEEEA;
}

.dark-s {
    background-color: #f8fffd;
}

.image {
    max-height: 45vh;
    max-width: 100%;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-image {
    height: 60%;
    transform: rotate(25deg);
    margin-left: 20em;
}

.video {
    height: 55vh;
    width: 80vw;
}

@media screen and (max-width: 980px) {

    h1 {
        font-size: 2.5em;
    }

    .image {
        max-height: 70vh;
        max-width: 100%;
    }

    .my-container p, h3 {
        max-width: 95%;
    }

}



@media screen and (max-width: 400px) {


    h1 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }

   p {
        font-size: 1em;
    }

   .btn {
       max-width: 80%;
       font-size: 1em;
   }

}